@font-face {
  font-family: "Mona Sans";
  src: url("../../fonts/Mona_Sans/Mona-Sans.woff2")
      format("woff2 supports variations"),
    url("../../fonts/Mona_Sans/Mona-Sans.woff2") format("woff2-variations");
}
body {
  font-family: "Mona Sans";
}

.partition {
  display: flex;
}

.illustration {
  background-color: #f4d085;
  height: 100vh;
  width: 600px;
}
h5 {
  float: right;
}

svg {
  color: #3625057a;
}

.dribbble_banner {
  margin-left: 80px;
  margin-top: 80px;
}

.motto {
  margin-top: 50px;
  font-weight: 800;
  font-size: 20px;
  color: #362505ab;
}

img {
  margin-top: 100px;
  margin-left: 50px;
}

.attribution {
  margin-left: 80px;
  margin-top: 200px !important;
  font-size: 15px;
  font-weight: 600;
}

.attribution > a {
  color: #362505ab;
  &:hover {
    color: black;
  }
}

.userForm {
  width: 100%;
}
