@font-face {
  font-family: 'Mona Sans';
  src:
    url('../../fonts/Mona_Sans/Mona-Sans.woff2') format('woff2 supports variations'),
    url('../../fonts/Mona_Sans/Mona-Sans.woff2') format('woff2-variations');
}
body {
  font-family: "Mona Sans";
}

.partition {
    display: flex;
}

.illustration {
  background-color: #f4d085;
  height: 100vh;
  width: 550px;
}

svg{
  color: rgba(0, 0, 0, 0.397);
}

.dribbble_banner{
  padding-left: 50px;
  padding-top: 50px;
}

.motto{
  margin-top: 50px;
  font-weight: 800;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.562);
}

img{
  margin-top: 100px;
  padding-left: 25px;
  padding-left: 25px;
}